* {
  box-sizing: border-box;
}

body {
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

#canvas {
  background-color: #111;
  border: 1px solid #333;
  height: 100%;
  width: 100%;
}
